<launch>

  <arg name="marker_size" default="1.778" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/cameras/right_hand_camera/image" />
  <arg name="cam_info_topic" default="/cameras/right_hand_camera/camera_info_std" />
  <arg name="output_frame" default="/right_hand_camera" />
  <arg name="mname" default="right_hand_camera" />

  <arg name="max_freq" default="5" />


  <arg name="resolution" default = "--resolution 1280x800" />
  <arg name="open" default = "--open right_hand_camera" />

  <node name="left_cam_res" pkg = "baxter_tools" type="camera_control.py" args="$(arg open) $(arg resolution)" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_freq)" />



</launch>